---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user?access_token=<Github_User_Token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4776'
      X-Ratelimit-Reset:
      - '1494526490'
      Etag:
      - W/"68e7505e5b716c4d618ccbded457f2af"
      Last-Modified:
      - Fri, 10 Feb 2017 17:43:06 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - f0e7f1df496e6cb4abfd
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"bschwartz10","id":21000661,"avatar_url":"https://avatars3.githubusercontent.com/u/21000661?v=3","gravatar_id":"","url":"https://api.github.com/users/bschwartz10","html_url":"https://github.com/bschwartz10","followers_url":"https://api.github.com/users/bschwartz10/followers","following_url":"https://api.github.com/users/bschwartz10/following{/other_user}","gists_url":"https://api.github.com/users/bschwartz10/gists{/gist_id}","starred_url":"https://api.github.com/users/bschwartz10/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bschwartz10/subscriptions","organizations_url":"https://api.github.com/users/bschwartz10/orgs","repos_url":"https://api.github.com/users/bschwartz10/repos","events_url":"https://api.github.com/users/bschwartz10/events{/privacy}","received_events_url":"https://api.github.com/users/bschwartz10/received_events","type":"User","site_admin":false,"name":"Brett
        Schwartz","company":"@turingschool","blog":"","location":"Denver, CO","email":"bschwartz92@gmail.com","hireable":true,"bio":"I
        am currently a Back-End Engineering Student at the Turing School of Software
        & Design.","public_repos":33,"public_gists":11,"followers":4,"following":5,"created_at":"2016-08-12T23:51:08Z","updated_at":"2017-02-10T17:43:06Z"}'
  recorded_at: Thu, 11 May 2017 18:06:02 GMT
recorded_with: VCR 3.0.3
