---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/bschwartz10/events?access_token=<Github_User_Token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4772'
      X-Ratelimit-Reset:
      - '1494526490'
      Etag:
      - W/"551b5cc1d53a8f5c7affec0328502338"
      Last-Modified:
      - Thu, 11 May 2017 03:27:36 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - f0e7f1df496e6cb4abfd
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/21000661/events?access_token=<Github_User_Token>&page=2>;
        rel="next", <https://api.github.com/user/21000661/events?access_token=<Github_User_Token>&page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"5850193415","type":"DeleteEvent","actor":{"id":21000661,"login":"bschwartz10","display_login":"bschwartz10","gravatar_id":"","url":"https://api.github.com/users/bschwartz10","avatar_url":"https://avatars.githubusercontent.com/u/21000661?"},"repo":{"id":90686553,"name":"bschwartz10/apicurious","url":"https://api.github.com/repos/bschwartz10/apicurious"},"payload":{"ref":"oauth-authentication","ref_type":"branch","pusher_type":"user"},"public":true,"created_at":"2017-05-11T03:27:36Z"},{"id":"5850193117","type":"DeleteEvent","actor":{"id":21000661,"login":"bschwartz10","display_login":"bschwartz10","gravatar_id":"","url":"https://api.github.com/users/bschwartz10","avatar_url":"https://avatars.githubusercontent.com/u/21000661?"},"repo":{"id":90686553,"name":"bschwartz10/apicurious","url":"https://api.github.com/repos/bschwartz10/apicurious"},"payload":{"ref":"basic-info","ref_type":"branch","pusher_type":"user"},"public":true,"created_at":"2017-05-11T03:27:31Z"},{"id":"5850189707","type":"PushEvent","actor":{"id":21000661,"login":"bschwartz10","display_login":"bschwartz10","gravatar_id":"","url":"https://api.github.com/users/bschwartz10","avatar_url":"https://avatars.githubusercontent.com/u/21000661?"},"repo":{"id":90686553,"name":"bschwartz10/apicurious","url":"https://api.github.com/repos/bschwartz10/apicurious"},"payload":{"push_id":1732371354,"size":26,"distinct_size":1,"ref":"refs/heads/master","head":"9e0cc0ac06fc94ba88709f57de14d2aaf8bf621f","before":"f82a6de4cbee6bb0ec1b520f4c3d5d24571161c5","commits":[{"sha":"3ab71cf9248bd858195cf2236cc152d6403b9db3","author":{"email":"bschwartz92@gmail.com","name":"bschwartz10"},"message":"create
        github user poro and githubservice","distinct":false,"url":"https://api.github.com/repos/bschwartz10/apicurious/commits/3ab71cf9248bd858195cf2236cc152d6403b9db3"},{"sha":"650755045ff40a6de4eb31917ba99332b7cd4f86","author":{"email":"bschwartz92@gmail.com","name":"bschwartz10"},"message":"redirect
        logged in user to dashboard show page\n\nusername is showing up in view","distinct":false,"url":"https://api.github.com/repos/bschwartz10/apicurious/commits/650755045ff40a6de4eb31917ba99332b7cd4f86"},{"sha":"40ed9e6a9f8ce658e14b171bd4e2b496f8[...]
