---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/starred?access_token=<Github_User_Token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1494459853'
      Etag:
      - W/"77206c0f1e62a601d95ee876de32493a"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - f0e7f1df496e6cb4abfd
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":90686553,"name":"apicurious","full_name":"bschwartz10/apicurious","owner":{"login":"bschwartz10","id":21000661,"avatar_url":"https://avatars3.githubusercontent.com/u/21000661?v=3","gravatar_id":"","url":"https://api.github.com/users/bschwartz10","html_url":"https://github.com/bschwartz10","followers_url":"https://api.github.com/users/bschwartz10/followers","following_url":"https://api.github.com/users/bschwartz10/following{/other_user}","gists_url":"https://api.github.com/users/bschwartz10/gists{/gist_id}","starred_url":"https://api.github.com/users/bschwartz10/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bschwartz10/subscriptions","organizations_url":"https://api.github.com/users/bschwartz10/orgs","repos_url":"https://api.github.com/users/bschwartz10/repos","events_url":"https://api.github.com/users/bschwartz10/events{/privacy}","received_events_url":"https://api.github.com/users/bschwartz10/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/bschwartz10/apicurious","description":null,"fork":false,"url":"https://api.github.com/repos/bschwartz10/apicurious","forks_url":"https://api.github.com/repos/bschwartz10/apicurious/forks","keys_url":"https://api.github.com/repos/bschwartz10/apicurious/keys{/key_id}","collaborators_url":"https://api.github.com/repos/bschwartz10/apicurious/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/bschwartz10/apicurious/teams","hooks_url":"https://api.github.com/repos/bschwartz10/apicurious/hooks","issue_events_url":"https://api.github.com/repos/bschwartz10/apicurious/issues/events{/number}","events_url":"https://api.github.com/repos/bschwartz10/apicurious/events","assignees_url":"https://api.github.com/repos/bschwartz10/apicurious/assignees{/user}","branches_url":"https://api.github.com/repos/bschwartz10/apicurious/branches{/branch}","tags_url":"https://api.github.com/repos/bschwartz10/apicurious/tags","blobs_url":"https://api.github.com/repos/bschwartz10/apicurious/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/bschwartz10/apicurious/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/bschwartz10/apicurious/git/refs{/sha}","trees_url":"https://api.github.com/repos/bschwartz10/apicurious/git/trees{/sha}","statuses_url":"https://api.github.com/repos/bschwartz10/apicurious/statuses/{sha}","languages_url":"https://api.github.com/repos/bschwartz10/apicurious/languages","stargazers_url":"https://api.github.com/repos/bschwartz10/apicurious/stargazers","contributors_url":"https://api.github.com/repos/bschwartz10/apicurious/contributors","subscribers_url":"https://api.github.com/repos/bschwartz10/apicurious/subscribers","subscription_url":"https://api.github.com/repos/bschwartz10/apicurious/subscription","commits_url":"https://api.github.com/repos/bschwartz10/apicurious/commits{/sha}","git_commits_url":"https://api.github.com/repos/bschwartz10/apicurious/git/commits{/sha}","comments_url":"https://api.github.com/repos/bschwartz10/apicurious/comments{/number}","issue_comment_url":"https://api.github.com/repos/bschwartz10/apicurious/issues/comments{/number}","contents_url":"https://api.github.com/repos/bschwartz10/apicurious/contents/{+path}","compare_url":"https://api.github.com/repos/bschwartz10/apicurious/compare/{base}...{head}","merges_url":"https://api.github.com/repos/bschwartz10/apicurious/merges","archive_url":"https://api.github.com/repos/bschwartz10/apicurious/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/bschwartz10/apicurious/downloads","issues_url":"https://api.github.com/repos/bschwartz10/apicurious/issues{/number}","pulls_url":"https://api.github.com/repos/bschwartz10/apicurious/pulls{/number}","milestones_url":"https://api.github.com/repos/bschwartz10/apicurious/milestones{/number}","notifications_url":"https://api.github.com/repos/bschwartz10/apicurious/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/bschwartz10/apicurious/labels{/name}","releases_url":"https://api.github.com/repos/bschwartz10/apicurious/releases{/id}","deployments_url":"https://api.github.com/repos/bschwartz10/apicurious/deployments","created_at":"2017-05-09T01:00:39Z","updated_at":"2017-05-09T22:57:03Z","pushed_at":"2017-05-10T17:53:43Z","git_url":"git://github.com/bschwartz10/apicurious.git","ssh_url":"git@github.com:bschwartz10/apicurious.git","clone_url":"https://github.com/bschwartz10/apicurious.git","svn_url":"https://github.com/bschwartz10/apicurious","homepage":null,"size":35,"stargazers_count":1,"watchers_count":1,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}}]'
  recorded_at: Wed, 10 May 2017 23:14:23 GMT
recorded_with: VCR 3.0.3
