<nav class="navbar navbar-light bg-faded">
  <span class="navbar-text">
    <% if current_user %>
      Hello, <%= current_user.name %>
      <%= link_to "Logout", logout_path, method: :delete %>
    <% else %>
      <%= link_to "Sign In With Github", github_login_path %>
    <% end %>
  </span>
</nav>
